<table class="table table-hover">
  <thead>
    <tr>
      <th>Manufacturer</th>
      <th>Color</th>
      <th>Year</th>
      <th>Mileage</th>
      <th>Description</th>
    </tr>
  </thead>
  <% @cars.each do |c| %>
    <tr>
      <td><%= c.manufacturer.name %></td>
      <td><%= c.color %></td>
      <td><%= c.year %></td>
      <td><%= c.mileage %></td>
      <td><%= c.description %></td>
    </tr>
  <% end %>
</table>
