<%= form_for @manufacturer do |f| %>
  <% if @manufacturer.errors.any? %>
    <ul>
      <% @manufacturer.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  <% end %>

  <%= f.label :name %>
  <%= f.text_field :name, required: true %>

  <%= f.label :country %>
  <%= f.text_field :country, required: true %>

  <%= f.submit 'Add Manufacturer' %>

<% end %>
